h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font2;
  line-height: 1.15;
}
h1, .h1 {
  @include fluid-value(font-size, 40px, 70px);
}
h3, .h3 {
  @include fluid-value(font-size, 36px, 50px);
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: $highlight;
}
input,
select {
  display: block;
  margin: 5px auto 15px;
}
input {
  border: 2px solid $black;
  padding-left: 10px;
  padding-right: 10px;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  &:focus {
    border-color: $highlight;
    outline: none;
  }
}
input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}
button {
  border: 2px solid $black;
  border-radius: 10px;
  padding: 5px 20px;
  color: #fff;
  font-size: inherit;
  font-family: inherit;
  background: $highlight;
}