// Colors
$red: #ff2828;
$black: #014c45;
$highlight: $red;
$black2: #2a2a2a;


// Fonts
$font1: 'Sue Ellen Francisco', Helvetica, Arial, sans-serif;
$font2: 'Permanent Marker', cursive;


// Convert PX to REM (based on default 16px font size for HTML element)
// Usage:
// h1 {
//   @include fontSize(32px);
//   line-height: pxtorem(32px);
// }
@function pxtorem($size) {
	$remSize: $size / 16px;
	@return #{$remSize}rem;
}
@mixin font-size($size) {
	font-size: $size; //Fallback in px
	font-size: pxtorem($size);
}


// Media Queries
$breakpoint-sm: 568px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
@mixin bp-sm {
  @media (min-width: #{$breakpoint-sm}) {
    @content;
  }
}
@mixin bp-md {
  @media (min-width: #{$breakpoint-md}) {
    @content;
  }
}
@mixin bp-lg {
  @media (min-width: #{$breakpoint-lg}) {
    @content;
  }
}
@mixin bp-xl {
  @media (min-width: #{$breakpoint-xl}) {
    @content;
  }
}

// Fluid font sizes
@function calc-interpolation($min-screen, $min-value, $max-screen, $max-value) {
	$a: ($max-value - $min-value) / ($max-screen - $min-screen);
	$b: $min-value - $a * $min-screen; 
	$sign: "+";
	@if ($b < 0) {
		$sign: "-";
		$b: abs($b);
	}
	$b: pxtorem($b);
	@return calc(#{$a*100}vw #{$sign} #{$b});
}
@mixin fluid-value($properties, $min-value, $max-value, $min-screen: $breakpoint-sm, $max-screen: $breakpoint-xl) {
  & {
    @each $property in $properties {
      #{$property}: pxtorem($min-value);
    }
    @media screen and (min-width: $min-screen) {
      @each $property in $properties {
        #{$property}: calc-interpolation($min-screen, $min-value, $max-screen, $max-value); 
      }
    }
    @media screen and (min-width: $max-screen) {
      @each $property in $properties {
        #{$property}: pxtorem($max-value);
      }
    }
  }
}