<template>
  <div class="customize-game">
    <h1>Customize Game</h1>
    <ul class="themes">
      <li v-for="theme in themes" class="theme" v-bind:class="{ active: theme.name === activeTheme, available: theme.isAvailable }">
        {{ theme.name }}
        <span v-if="theme.name === activeTheme">ACTIVE</span>
        <span v-else>
          <button v-if="!theme.isAvailable">Buy</button>
          <button v-else @click="setTheme(theme.name)">Select</button>
          <button @click="moreDetails(theme)">Details</button>
        </span>
      </li>
    </ul>
    <div class="more-details">
      <!--<h4>{{ themeInfo.name || activeTheme }}:</h4>-->
    </div>
    <p>
      <router-link to="/player/1">Continue</router-link>
    </p>
    <p>
      <router-link to="/select-moderator">Back</router-link>
    </p>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  data() {
    return {
      themeInfo: null
    }
  },
  computed: {
    ...mapState([
      'players',
      'activeTheme',
      'themes'
    ])
  },
  methods: {
    ...mapActions([
      'assignRoles',
      'changeTheme'
    ]),
    setTheme(name) {
      this.changeTheme(name);
    },
    moreDetails(theme) {
      this.themeInfo = theme;
    }
  }
}
</script>

<style >
.theme.active {
  border: 2px solid red;
}
</style>
