<template>
  <div class="game">
    <div v-if="winners" class="results">
      <h1>{{ `${winners} won!!!`}}</h1>
    </div>
    <div v-else-if="!isGameStarted" class="before-start">
      <h1>Let's Play Mafia!</h1>
      <p >Please hand the device to {{ players[0].name || 'the Moderator' }} and click the button below.</p>
      <button v-if="!isGameStarted" @click="toggleGameStatus">Start Game</button>
    </div>
    <div v-else>
      <div class="game-phase">
        <h1>{{ currentPhase }}</h1>
        <p>{{ phaseDescription }}</p>
        <div v-if="currentPhase === 'Daytime'"class="players-list">
          <p>Below is a list of all they players and their status.</p>
          <ul v-if="players.length > 0">
            <li v-for="(player, index) in players" v-if="player.role !== 'moderator'" class="player" :class="{ dead: !player.isAlive }">
              <p class="name">{{ player.name || `Player ${index + 1}` }} <button v-if="player.isAlive" @click="killPlayer(index)" class="kill-button">Kill!</button></p>
            </li>
          </ul>
        </div>
        <button @click="nextPhase">Next Phase</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  data: function () {
    return {
      currentPhase: 'Daytime',
      phases: ['Daytime', 'Everyone Sleeps', 'Mafia Wake Up', 'Detectives Wake Up', 'Nurses Wake Up'],
      winners: ''
    }
  },
  computed: {
    ...mapState([
      'isGameStarted',
      'players'
    ]),
    phaseDescription() {
      let description;

      switch (this.currentPhase) {
        case 'Daytime':
          description = 'All the townsfolk open their eyes. If the mafia successfully killed their target (the nurse did not save them), the moderator will reveal the victim and ask them to leave the game. The townsfold then discuss the events of the previous night and form conclusions on who they suspect. After some deliberation, the moderator will ask the townsfolk to cast their vote on the count of three, at which point everyone points to their suspect. The person with the most votes is killed.';
          break;
        case 'Everyone Sleeps':
          description = 'All players must close their eyes and go to sleep.';
          break;
        case 'Mafia Wake Up':
          description = 'All mafia members open their eyes and silently agree on one townsperson to kill. The moderator will confirm their victim, then ask the mafia to go back to sleep.';
          break;
        case 'Detectives Wake Up':
          description = 'All detectives open their eyes and silently agree on one townsperson to suspect. The moderator will confirm their suspect, silently reveal whether their suspect is mafia or not, then ask the detectives to go back to sleep. ';
          break;
        case 'Nurses Wake Up':
          description = 'All nurses open their eyes and silently agree on one townsperson to save. The moderator will confirm their target, then ask the nurses to go back to sleep. ';
          break;
      }
      return description;
    },
    townsfolkAlive() {
      return this.players.filter(player => {
        return player.isAlive;
      });
    },
    mafiaAlive() {
      return this.townsfolkAlive.filter(player => {
        return player.role === 'mafia';
      });
    }
  },
  methods: {
    ...mapActions([
      'toggleGameStatus',
      'editPlayer'
    ]),
    nextPhase() {
      let nextPhaseIndex = this.phases.indexOf(this.currentPhase) + 1;
      if (nextPhaseIndex === this.phases.length) {
        nextPhaseIndex = 0;
      }
      this.currentPhase = this.phases[nextPhaseIndex];
      document.body.scrollTop = document.documentElement.scrollTop = 0;
    },
    killPlayer(playerIndex) {
      this.players[playerIndex].isAlive = false;
      this.calculateWinners();
    },
    calculateWinners() {
      if (this.mafiaAlive.length == 0) {
        this.winners = 'Townsfolk';
      } else if ( this.mafiaAlive.length > (this.townsfolkAlive.length - this.mafiaAlive.length - 1)) {
        this.winners = 'Mafia';
      } else {
        // console.log('Game continues');
      }
    }
  }
}
</script>

<style lang="scss">
.kill-button {
  margin-left: 20px;
}
.player.dead .name {
  text-decoration: line-through;
}

</style>
