<template>
  <div class="moderator-screen">
    <h1>Moderator</h1>
    <div v-if="!isGameStarted" class="select-moderator">
      <p>The moderator is not directly involved in the game. They are in charge of managing the game, keeping things going, and making sure people don't cheat!</p>
      <p>Once you have selected a moderator, please hand them the device and press continue.</p>
      <h3 v-if="players[0]">Game Moderator: {{ players[0].name }}</h3>
      <label for="moderator-name">Name:</label>
      <input type="text" name="moderator-name" v-model="players[0].name" @change="moderatorUpdated">
      <p v-if="players[0].name">
        <router-link to="/player/1">Continue</router-link>
      </p>
      <p>
        <router-link to="/">Back to Start</router-link>
      </p>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  computed: {
    ...mapState([
      'isGameStarted',
      'players'
    ])
  },
  methods: {
    moderatorUpdated() {
      // Update local storage
      sessionStorage.setItem("players", JSON.stringify(this.players));
    }
  }
}
</script>

<style >

</style>
