<template>
  <div class="player-screen">
    <h1 v-if="!players[Number(id)].name">Hand Device to Player {{ id }}</h1>
    <h1 v-else>{{ players[Number(id)].name }}</h1>
    <label>What should we call you?
      <input type="text" name="player-name" v-model="players[Number(id)].name" @change="playerUpdated">
    </label>
    <div class="role">
      <span class="blocker" :class="{ 'reveal': showRole }"></span>
      <p class="h3">{{ players[Number(id)].role[0].toUpperCase() + players[Number(id)].role.slice(1) }}</p>
      <p class="role__img">{{ roleImg }}</p>
    </div>
    <p>
      <button @click="roleReveal">Show/hide your role:</button>
    </p>
    <p>Once you've memorized your role, press continue and pass to the next player.</p>
  
    <p v-if="id < ( players.length - 1 )">
      <router-link v-bind:to="'/player/' + (Number(id) + 1)">Next Player</router-link>
    </p>
    <p v-else>
      <router-link to="/play">Next Screen</router-link>
    </p>
  
    <p v-if="id <= '1'">
      <!--<router-link to="/customize-game">Back to Customize</router-link>-->
      <router-link to="/moderator">Back to Moderator</router-link>
    </p>
    <p v-else>
      <router-link v-bind:to="'/player/' + (Number(id) - 1)">Previous Player</router-link>
    </p>
  
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  props: ['id'],
  data: () => {
    return {
      showRole: false,
    }
  },
  computed: {
    ...mapState([
      'players'
    ]),
    roleImg() {
      const playerIndex = this.$route.params.id;
      let img;
      switch (this.players[playerIndex].role) {
        case 'mafia':
          img = '😈'
          break;
        case 'detective':
          img = '🚔'
          break;
        case 'doctor':
          img = '💉'
          break;
        default:
          img = '😒'
          break;
      }
      return img;
    }
  },
  methods: {
    playerUpdated() {
      // Update local storage
      sessionStorage.setItem("players", JSON.stringify(this.players));
    },
    roleReveal() {
      // Toggle the reveal
      this.showRole = !this.showRole;

      // Hide the role after 3 seconds anyway.
      // const self = this;
      // let hideRole;
      // // console.log(hideRole);
      // if (hideRole) {
      //   console.log(hideRole);
      //   window.clearTimeout(hideRole); //cancel the previous hideRole.
      // }
      // hideRole = window.setTimeout(function () {
      //   console.log(hideRole);
      //   self.showRole = false;
      // }, 3000);
      // console.log(hideRole);
    }
  },
  watch: {
    '$route'(to, from) {
      if (to.params.id !== from.params.id) {
        this.showRole = false;
      }
      document.body.scrollTop = document.documentElement.scrollTop = 0;
    }
  }
}
</script>

<style scoped lang="scss">
@import '../assets/scss/variables';
.role {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  margin: 0 auto 20px;
  position: relative;
  border: 3px solid $highlight;
  border-radius: 3px;
  p {
    margin: 0;
  }
}

.role__img {
  font-size: 50px;
}

.blocker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $highlight;
  &.reveal {
    opacity: 0;
  }
}
</style>
