<template>
  <div class="welcome">
    <h1>Murder Mystery</h1>
    <img class="logo" src="../assets/logo.png" alt="Murder Mystery man with knife">
    <label>How Many Players Do You Have?</label>
    <input type="number" min="5" max="20" @change="addPlayers($event)" v-model="players.length">
    <p v-if="players.length >= 5">
      <router-link to="/moderator">Continue</router-link>
    </p>
    <p v-else>Uh oh. You need to find {{ 5 - players.length }} more {{ players.length === 1 ? 'player' : 'players' }} to play...</p>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  computed: {
    ...mapState([
      'players'
    ])
  },
  methods: {
    ...mapActions([
      'editPlayer',
      'assignRoles'
    ]),
    addPlayers(event) {
      if (event.target.value > 4) {
        // Clear existing players
        this.players.splice(0, this.players.length);
        // Add new players
        for (let i = 0; i < event.target.value; i++) {
          this.players.splice(i, 1, { name: '', role: '', isAlive: true });
        }
        this.assignRoles();

        // Save to local storage
        sessionStorage.setItem("players", JSON.stringify(this.players));
      }
    }
  }
}
</script>

<style lang='scss'>
@import '../assets/scss/variables';
.logo {
  display: block;
  margin: 0 auto 30px;
}
</style>
