<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import { mapState } from 'vuex';
require('./assets/scss/main.scss');

export default {
  computed: {
    ...mapState([
      'moderator',
      'players'
    ])
  },
  created() {
    const storedPlayers = JSON.parse(sessionStorage.getItem("players"));
    if (storedPlayers) {
      for (let i = 0; i < storedPlayers.length; i++) {
        this.players.splice(i, 1, storedPlayers[i]);
      }
    }
  }
}
</script>

<style lang='scss'>
#app {
  display: flex;
  flex-grow: 1;
  align-items: center;
  max-width: 600px;
  padding: 50px 15px;
}
</style>
